@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
@import "tailwindcss";

html, body, #root { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

/* Apple-ish system font stack */
:root {
  --font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}
